/*RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*GERAL*/
html {
  font-family: 'Roboto', sans-serif;
}
li a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 65%;
  margin: 0 auto;
}
.ativo {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
code {
  font-family: monospace;
  background-color: #f7f7f7;
  width: 100%;
}
.texto-tag {
  color: #905;
}

/*HEADER*/
header {
  background-color: #004081;
}
.logo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.logo h1 {
  padding: 15px;
  margin-top: 10px;
  color: #fff;
  text-shadow: 4px -1px 10px #000;
}
.logo h1 span {
  font-weight: 300;
}
.logo img {
  background-color: #fff;
  padding: 14px;
  margin: 10px 0;
}
.navegacao ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid #fff;
}
.navegacao ul li {
  list-style: none;
  width: 350px;
}
.navegacao ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px rgb(206, 220, 235);
  transition: all .2s;
}
.navegacao ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/*MAIN*/
main {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #CEDCEB;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #000;
}
main section {
  margin-bottom: 10px;
}
main section p {
  padding: 0 10px;
  text-align: justify;
}
section h2 {
  text-align: center;
}
section h2+hr {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
section h3{

}
section ul {
  display: block;
  max-width: 262px;
  margin: 0 auto;
}
section img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  box-shadow: 1px 1px 5px #000;
}
.dicas ul {
  width: 100%;
  margin-left: 30px;
}
.dicas ul li a {
  text-decoration: underline;
}
/*CONTEUDO HTML*/

.lista-texto {
  max-width: 550px;
}
.embed-codepen {
  width: 70%;
  margin: 0 auto;
}
.embed-youtube {
  margin: 0 auto;
  width: 420px;
}
.link-video {
  display: none;
}
@media screen and (max-width: 500px) {
  .embed-youtube {
    display: none;
  }
  .link-video {
    display: block;
  }

}


/*FOOTER*/
footer {
  background-color: #004081;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sobre {
  text-align: center;
  padding: 30px;
}
.sobre h2 {
  margin-bottom: 10px;
}
.alunos {
  text-align: center;
  padding: 30px;
}
.alunos h2 {
  margin-bottom: 10px;
}
